.wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__title {
    text-align: center;
    color: rgb(44, 44, 44);
  }
  &__label input {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 5px;
    padding: 0.3rem;
    box-shadow: 0 0 10px rgba(63, 63, 68, 0.05);
  }
}
